<nav class="landing__header">
    <ul class="landing__header-list">
        <li class="landing__header-list__item">
            <a routerLink="/" class="landing__header-list__link">
                Home
            </a>
        </li>
        <li class="landing__header-list__item">
            <a routerLink="/login" class="landing__header-list__link">
                Login
            </a>
        </li>
        <li class="landing__header-list__item">
            <a routerLink="/register" class="landing__header-list__link">
                Signup
            </a>
        </li>
    </ul>
</nav>