<div class="c-incident">
    <form class="c-incident__form">
        <div class="c-incident__form-group">
            <label for="" class="c-incident__form-group__label">
                Incident type
            </label>
            <select name="" id="" class="c-incident__form-group__control">
                <option value="">Welcome</option>
                <option value="">Welcome</option>
                <option value="">Welcome</option>
            </select>
        </div>
        <div class="c-incident__form-group">
            <label for="" class="c-incident__form-group__label">
                Incident title
            </label>
            <input type="text" class="c-incident__form-group__control">
        </div>
        <div class="c-incident__form-group">
            <label for="" class="c-incident__form-group__label">
                Incident description
            </label>
            <textarea name="desc" id="desc" cols="30" rows="5"></textarea>
        </div>
        <div class="c-incident__form-group">
            <label for="" class="c-incident__form-group__label">
                Assign to
            </label>
            <input type="text" class="c-incident__form-group__control">
        </div>
        <div class="c-incident__form-group">
            <label for="" class="c-incident__form-group__label">
                When it occurred?
            </label>
            <input type="date" class="c-incident__form-group__control">
        </div>
        <div class="c-incident__form-group">
            <label for="" class="c-incident__form-group__label">
                Where it occurred?
            </label>
            <input type="text" class="c-incident__form-group__control">
        </div>
        <button class="c-incident__form-submit">
            Create an incident
        </button>
    </form>
</div>