<div class="register">
    <div class="register__wrapper">
        <div class="register__title">
            Sign up
        </div>
        <app-auth-form>
            <app-form-group 
                label="Full Name" 
                type="text" 
                id="fullName" 
                placeholder="Enter your full name"></app-form-group>
            <app-form-group 
                label="Indetity No" 
                type="text" 
                id="identityno" 
                placeholder="Enter your identity no"></app-form-group>
            <app-form-group 
                label="Password" 
                type="text" 
                id="password" 
                placeholder="Minimum 8 characters"></app-form-group>
        </app-auth-form>
    </div>
</div>