<nav class="dashboard__nav">
    <div class="dashboard__nav-info">
        <span class="dashboard__nav-username">
            Mahmoud
        </span>
        <span class="dashboard__nav-username">
            Admin
        </span>
    </div>

    <ul class="dashboard__nav-list">
        <li class="dashboard__nav-list__item">
            <a routerLink="/dashboard/create-incident" class="dashboard__nav-list__link">
                Raise an incident
            </a>
        </li>
        <li class="dashboard__nav-list__item">
            <a href="#" class="dashboard__nav-list__link">
                Show Incidents
            </a>
        </li>
    </ul>
</nav>