<div class="signup">
    <form class="signup__form">
        <div class="signup__form-group">
            <label for="" class="signup__form-group__label">Identity No</label>
            <input type="text" class="signup__form-group__control">
        </div>
        <div class="signup__form-group">
            <label for="" class="signup__form-group__label">Password</label>
            <input type="text" class="signup__form-group__control">
        </div>

        <button class="signup__form-submit">
            Log in
        </button>
    </form>
</div>