<nav class="dashboard__nav">
    <div class="dashboard__nav-user">
        <span>Mahmoud Muhammed</span>
        <span>Admin</span>
    </div>

    <ul class="dashboard__nav-list">
        <li class="dashboard__nav-list__item">
            <a routerLink="/dashboard" class="dashboard__nav-list__link">
                Incidents
            </a>
        </li>
        <li class="dashboard__nav-list__item dashboard__nav-list__item--custom">
            <a routerLink="/dashboard/create-incident" class="dashboard__nav-list__link">
                Create
            </a>
        </li>
    </ul>
</nav>