<div class="login">
    <div class="login__wrapper">
        <div class="login__title">
            Log in
        </div>
        <app-auth-form>
            <app-form-group 
                label="Indetity No" 
                type="text" 
                id="identityno" 
                placeholder="Enter your identity no"></app-form-group>
            <app-form-group 
                label="Password" 
                type="text" 
                id="password" 
                placeholder="Minimum 8 characters"></app-form-group>
        </app-auth-form>
    </div>
</div>